<% @page_title = "Users" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row text-center">
      <%= render 'paginate', small: true %>
    </div>
    <table class="table table-hover">
      <%= render 'th_row' %>
      <%= render 'td_rows' %>
    </table>
    <div class="row text-center">
      <%= render 'paginate' %>
    </div>
  </div>
</div>