/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$ks-red: #450000;
$ks-red-light: #7c5050;
$ks-red-light-btn: #702d2d;


.ks-red {
  color: $ks-red !important;
}

.ks-red-light {
  color: $ks-red-light !important;
}

.ks-red-light:hover {
  color: $ks-red !important;
}

.ks-red-btn {
  background-color: $ks-red-light-btn;
  color: #FFFFFF;
}

.ks-red-btn:hover {
  background-color: $ks-red;
  color: #FFFFFF;
}

.ks-red-btn:active:focus, .ks-red-btn:focus {
  outline: none;
  background-color: $ks-red-light-btn;
  color: #FFFFFF;
}

.ks-shadow {
  
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar-brand{
  padding-left: 0;
}

#logo {
  position: absolute;
  left: 50%;
  margin: 5px 0 0 -26px;
  text-decoration: none;
}

.user-dropdown-spacing {
  margin-left: 5px;
}

.img-border-radius {
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
}

.th-inactive-link {
  color: grey;
}

.th-row-users {
  background-color: #e7e7e7;
}

.th-row-users:hover {
  background-color: #e7e7e7 !important;
}

.admin-cb {
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $ks-red;
  border-color: $ks-red;
}

.pagination > li > a, .pagination > li > span {
  color: $ks-red;
}