<% @page_title = "#{@category.name}" %>

<%= render 'shared/title', title: link_to("Categories", categories_path,
                                                        class: "ks-red-light") + 
                                  " &raquo; ".html_safe + 
                                  @category.name %>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <% if @open_unfixed_assets.any? %>  
      
      <%= render 'show_table' %>
      
    <% else %>
      <div class="text-center">
        All loaned <%= @category.name.chop %> assets are 
        currently checked out by other employees.
        <br/>
        For info on availability, 
        <a href="mailto:it@example.com">
          please contact your system administrator.
        </a>
      </div>
    <% end %>
  </div>
</div>